<header>

    <section>
        Sistema Finaneiro
    </section>

    <nav>
        <ul>
            <li>
                <a href="#">Monitoramento</a>
            </li>
            <li>
                <a href="#">Lançamentos</a>
            </li>
            <li>
                <a href="#">Relatórios</a>
            </li>
            <li>
                <a href="#">Configurações</a>
            </li>
        </ul>
    </nav>

    <div class="button">
        <a href="#" class="button button-principal">Sair</a>
    </div>

</header>